.about h2, .about h3 {
  margin-bottom:15px;
}

.about p {
  line-height:1.2em;
  margin-bottom:10px;
}

.about blockquote {
  font-size:1.5em;
  font-style: italic;
  padding-left:15px;
}

.about img {
  width:100%;
}

.about .fullHeader .container {
  background-color: #FF9138;
  box-shadow:none;
}

.about > .fullHeader h1, .about > .fullHeader > .container .fa-bars, .about > .fullHeader > .container .menu-label, .about > .fullHeader .search-container.hidden .fa-search, .about .cancelTrigger, .about .cancelTrigger, .about .search-container .link-container span, .about .search-container .link-container span {
   color:white;
 }

.about p {
  line-height:1.8em;
  margin-bottom:40px;
}


.about a:hover {
  color:#f8f8f8;
}

.about .hero {
  background-color: #FF9138;
  height:calc(100% - 65px);
  margin-top:65px;
}

.about .hero h3 {
  color: white;
}

.about .body-container {
  padding-bottom:40px;
}

#reactHubspotForm0 {
  margin:0px auto;
  display:table;
  width:500px;
}

@media (min-width: 700px) {
	.about .hero .copy-container {
    max-width:61.8%;
    padding-left:60px;
  }
}
