.fullHeader {
  height:0px;
}

header.container {
  width:100%;
  height:65px;
  transition: height .5s ease;
  background-color:white;
  z-index:1;
  overflow:hidden;
  box-shadow: 1px 2px #BBBBBB;
}

header h1 {
  color:white;
}

header.invisible {
  height:0px;
}

header.container > div, .drawer-head > div {
  float:left;
  padding:15px;
}

.drawer-head .header-container {
  margin-left:5%;
}

.drawer-head > .search-container.hidden {
  width:20%;
}

header .icon-container input {
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  box-shadow: inset 0px -1px 15px #e5e5e5;
  font-family: 'Montserrat',sans-serif;
  font-size: 24px;
  height: 47px;
  padding: 0 5px 0 55px;
  position: absolute;
  width: 75%;
  top: 9px;
}

header .fa-search {
  z-index: 2;
  position: absolute;
  left: 20px;
  color:black;
}

header .cancelTrigger {
  position: absolute;
  right: 0;
  top: 22px;
}

header .icon-container input:focus {
  border-color:#979797;
  outline:none;
}

header .search-container {
  position:absolute;
  width:95%;
}

header .search-container.hidden {
  position:absolute;
  width:20%;
  right:0;
}

header .search-container.hidden .link-container {
  display:block;
}

header .search-container .link-container {
  display:none;
  float:right;
  margin-right:70px;
  padding-top: 3px;
}

header .search-container .link-container a, header .search-container .link-container span {
  font-size: 1.5em;
  margin-top: 3px;
  text-transform: uppercase;
  text-decoration: none;
  color:#333;
}

.search-container.hidden input, .search-container.hidden .cancelTrigger {
  display:none;
}

header.container > .header-container {
  width:70%;
}

.drawer > .header-container {
  width:calc(80%-60px);
}

header .header-container h1, .drawer h2 {
  text-align:center;
}

header h1, .header-container > h1 {
    letter-spacing: 5px;
    font-size:1.5em;
}

header > .icon-container .fa-search {
  float:right;
}

.fullHeader nav a {
  text-decoration: none;
}

.fullHeader nav li {
  text-transform: uppercase;
}

.fullHeader .address {
  font-size:1em;
}

.icon-container {
  cursor:pointer;
}

.icon-container span.menu-label {
  font-size: 1.5em;
  text-transform: uppercase;
  margin-left:20px;
  margin-top:3px;
  display:none;
}

.fa-times, .fa-bars {
  cursor: pointer;
}

.fa-bars {
  float:left;
}

.drawer-head {
  width:100%;
  float:left;
}

.nav-container {
  height:0px;
  position:fixed;
  top:0;
  z-index:3;
}

.nav-container.visible /*, .nav-container.visible .overlay*/ {
  width:100%;
}

.nav-container.visible .drawer {
  transform: translateX(0px);
}

.nav-container .drawer {
  width:380px;
  background:white;
  height:100%;
  position:fixed;
  z-index:3;
  transform: translateX(-390px);
  transition: 1s ease-in-out;
}

.nav-container.visible .overlay {
  height:100%;
  width:100%;
  opacity:.5;
  transition: opacity 1s linear;
}

.nav-container .overlay {
  position:fixed;
  height:0px;
  opacity:0;
  width:0px;
  z-index:2;
  transition: height 0s 1s, width 0s 1s, opacity 1s linear;
  background:#585858;
}



/*
.nav-container.visible .overlay {
  background: #585858;
  opacity:.5;
  transition: opacity 2s linear;
}
*/

.drawer li {
  font-size:1.2em;
  line-height:2em;
}

.drawer nav {
  padding: 0px 10px;
}

.drawer hr {
  margin: 15px 0px;
}

.drawer i {
  margin-right:10px;
}

@media (min-width: 700px) {
  .icon-container span.menu-label {
    display:block;
    float:left;
  }
  .search-container.hidden .fa-search {
    left:auto;
    right:20px;
  }
  .search-container {
    max-width: 75%;
    right: 10px;
  }
  header .cancelTrigger {
    right: 10;
  }
}
