.sketch-container {
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  background-color:white;
  opacity:0;
  height:0;
  transition: height 0s 1s, opacity 1s linear;
}

.sketch-container.visible {
  opacity:1;
  height:100%;
  transition: opacity 1s linear;
}

.sketch-container.portrait-primary img,  .sketch-container.portrait-secondary img {
  width:100%;
  max-height:60%;
}

.sketch-container.portrait-primary .caption,  .sketch-container.portrait-secondary .caption {
  width:100%;
  max-height:40%;
}

.sketch-container.landscape-primary img,  .sketch-container.landscape-secondary img {
  height:100%;
  max-width:55%;
  float:left;
}

.sketch-container.landscape-primary .caption,  .sketch-container.landscape-secondary .caption {
  float:left;
  max-width:45%;
}

.sketches-top-bar {
  height:40px;
  width:100%;
}

.sketch {
  height:calc(100% - 40px);
}

.sketches-top-bar > div {
  float:left;
  padding-top:10px;
  padding-left:5px;
}

.sketches-top-bar .fa-times {
  float:right;
  margin-right:15px;
  margin-top:5px;
}

.caption {
  overflow:scroll;
}

.fa-chevron-right, .fa-chevron-left {
  position:absolute;
  top:40%;
}

.fa-chevron-right {
  right: 10px;
}

.fa-chevron-left {
  left:10px;
}

iframe {

}
