@import './fonts.css';
@import './reset.css';
@import './colors.css';

* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  height:100%;
  font-size:18px;
  margin:0px;
  color:#5d5d5d;
}

h1, blockquote {
  font-family:'BioRhyme', serif;
}

h2, h3, h4, li, a, button, span, i {
  font-family:'Montserrat', sans-serif;
}

p, strong, p a, em {
  font-family: 'Libre Baskerville', serif;
}

p a {
  text-transform: none;
  font-size:18px !important;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
  line-height:1.5em;
}

a {
  text-transform: uppercase;
  color:#6e6e6e;
  text-decoration: underline;
}

a:hover {
  color:#000000;
}



.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px;
  /*
  padding-top:75px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:10px;
  */
}
.page-wrap:after {
  content: "";
  display: block;
  height: 142px;
}

button {
  background-color: white;
  color: #585858;
  font-size: 1.2em;
  padding:12px 30px;
  border-color:none;
  border-style: none;
  border-width:0px;
  border-radius:2px;
  box-shadow: 3px 3px 10px #979797;
}

.hero .copy-container {
  max-width:85%;
  padding-left:20px;
}

#hubspotForm, #secondForm {
  border-top: 1px solid black;
  padding-top: 50px;
}

@media (min-width: 700px) {
}
