.submission-form-container {
  width:400px;
  margin:0px auto;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.input, .half-input {
  padding: 1rem 1rem;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 1.1em;
  outline: none;
}

.inputGroup {
  display: flex;
  flex-flow: column nowrap;
  padding: 10px 0;
}

.new-submission h2 {
  margin: 20px 0px;
}

#dropzone {
  font-size:1.2em;
}

textarea {
  width:100%;
}

.new-submission .submission-form-container > button {
  float:right;
}

.submission-form-container {
  margin-bottom:40px;
}

.new-submission a {
  margin-top: 3px;
  display:block;
}

.__react_component_tooltip {
  max-width:400px !important;
}
