.feedback .header-container h1 {
  color:black;
}

.home .header-container h1 {
  color:black;
}

.feedbackBody h2, .feedbackBody h3 {
  margin-bottom:15px;
}

.feedbackBody p {
  line-height:1.2em;
  margin-bottom:10px;
}

.feedbackBody blockquote {
  font-size:1.5em;
  font-style: italic;
  padding-left:15px;
}

.feedbackBody img {
  width:100%;
}

.feedbackBody > img {
  margin-bottom:30px;
}

.feedbackBody {
  padding:80px 20px 120px;
}

.feedbackBody .fa-chevron-right {
  margin-left:10px;
}

.feedbackBody .fa-chevron-left {
  margin-right:10px;
}

.feedbackBody p, .feedbackBody > a {
  line-height:1.5em;
  margin-bottom:40px;
}

.feedbackBody h2 {
  font-size:2em;
  line-height:2em;
}

.feedbackBody > a, .feedbackBody > a span, .footer-links a span {
  font-size:1.2em;
  color:#6e6e6e;
}

.feedbackBody > a {
  float:right;
}

.footer-links a span {
  padding-bottom:20px;
}

.feedbackButton {
  float:right;
}

.footer-links button {
  color: white;
  background-color: 33CB2B;
  cursor:pointer;
  text-transform:uppercase;
}

.footer-links a {
  float:right;
  margin-top: 40px;
}

.return-home {
  margin-top:50px;
  float:left !important;
}
