#dropzone {
  width:400px;
  height:400px;
  border:1px dashed black;
  text-align:center;
  font-family:'Montserrat', sans-serif;
  font-size:1.5em;
  line-height: 1.5em;
  padding:20% 0;
  cursor:pointer;
}

#dropzone.phase_two, #dropzone.phase_three {
  display:none;
  height:0px;
  padding:0px;
}

.ReactCrop.phase_one, .ReactCrop.phase_three {
  display:none;
}

canvas.phase_one, canvas.phase_two {
  display:none;
}

#crop-button.phase_one, #crop-button.phase_three {
  display:none;
}

#cancel.phase_one, #cancel.phase_three {
    display:none;
}

#change.phase_one, #change.phase_two {
  display:none;
}

.ReactCrop__image {
  display: block;
  max-width:100%;
  max-height:inherit !important;
}

.button-group {
  margin: 20px 0px;
}

#crop-button, #change {
  background-color:#33CB2B;
  color:white;
}

#cancel {
  background-color: #FF3838;
  color:white;
  margin-left: 10px;
}
