label {
  width:100%;
  display:block;
}

hr {
  margin-top:40px;
}

.line-item {
  margin: 20px 0;
width: 100%;
height: 40px;
float: left;
}

.line-item span {
  font-size: 1.4em;
}

.line-item span:last-child {
  float:right;
}

.line-item span:first-child {
  float:left;
}

.line-item input {
  float:right;
  margin-top:-20px;
  width: 48%;
}

.finalize-tile {
  float: left;
  width:100%;
}

.finalize-tile img {
  width: 100%;
}

.StripeCheckout {
  float: right;
}

.finalize button.green {
  float:right;
}

.tile-container {
  width:100%;
  overflow:auto;
}

@media (min-width: 700px) {
  .finalize-tile {
    width: 48%;
    margin-right:2%;
    margin-bottom:10px;
  }
}
