.postContainer {
  margin-bottom:40px;
  padding-bottom:40px;
}

.postContainer:not(:last-child) {
  border-bottom:1px solid black;
}

.postContainer img {
  width:100%;
  margin-bottom:20px;
}

.hero {
  height:100%;
  width:100%;
  overflow:hidden;
}

.home .hero {
  background-color:#4285FA;
}

.home .hero h1 {
  text-transform: uppercase;
  text-align:center;
  letter-spacing:5px;
  position:absolute;
  z-index:1;
  top:40%;
}

.hero h1, .hero h2 {
  color:white;
  width:100%;
}

.hero img {
  position:absolute;
  height:100%;
  max-width:100%;
}

.home .copy-container .fa, .posts .fa {
  margin-left: 10px;
}

.body-container {
  padding: 80px 10px 0px;
}

.body-container a {
  font-size: 1.2em;
}

.copy-container {
  min-height:60%;
  padding-bottom: 5%;
}

.hero .copy-container {
  padding-top:10%;
}

.copy-container h2 {
  line-height:1.5em;
  margin-bottom:40px;
  font-size: 2em;
}

.copy-container h3 {
  margin-bottom:40px;
}

.home .copy-container {
  padding-top:8%;
  padding-bottom:8%;
}

.posts hr {
  margin-bottom:40px;
}

.posts h2 {
  margin-bottom: 40px;
}

.posts h3 {
  margin-bottom: 20px;
}

.posts a {
  margin-top:10px;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.ReactModal__Content {
  left: calc(50% - 300px) !important;
  top: calc(50% - 225px) !important;
}

.modal-container h2 {
  text-align: center;
  margin-bottom:10%;
}

.modal-container {
  padding:50px;

}

.modal-container p {
  text-align: center;
  margin-bottom:10%;
}

.modal-container span {
  margin: 0px auto;
  display: table;
  margin-top:5%;
  text-decoration: underline;
  cursor:pointer;
}

.ReactModal__Overlay button {
  margin:0px auto;
  display:table;
}

.ReactModal__Overlay a {
  text-decoration:none;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
    z-index: 2
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.modal-container p {
  line-height: 1.5em;
}

@media (min-width: 700px) {



  .hero h1 {
    font-size: 3em;
  }

	.copy-container, .posts, .feedbackBody {
    width:700px;
    margin:0px auto;
    display:table;
  }
}
