.postContainer {
  margin-bottom:40px;
  padding-bottom:40px;
}

.postContainer:not(:last-child) {
  border-bottom:1px solid black;
}

.postContainer img {
  width:100%;
  margin-bottom:20px;
}



.hero {
  height:100%;
  width:100%;
  background-color:#264588;
  position:relative;
  overflow:hidden;
}

.hero h1 {
  text-transform: uppercase;
  color:white;
  width:100%;
  text-align:center;
  position:absolute;
  z-index:1;
  top:40%;
  letter-spacing:5px;
}

.hero img {
  position:absolute;
  height:100%;
}

.body-container {
  padding: 80px 10px 0px;
}

.body-container a {
  font-size: 1.2em;
}

.copy-container {
  min-height:80%;
  padding:10% 0 10%;
}

.copy-container h1 {
  line-height:1.5em;
  margin-bottom:40px;
}

.copy-container h3 {
  margin-bottom:40px;
}

.posts h2 {
  margin-bottom: 20px;
}

.posts h3 {
  margin-bottom: 20px;
}

@media (min-width: 700px) {
	.copy-container, .posts {
    max-width:61.8%;
    padding-left:60px;
  }
}
