#edit-button {
  position:fixed;
  right:100px;
  bottom:80px;
}

#update-submission {
  position:fixed;
  right:100px;
  bottom:160px;
  display:none;
}

#cancel-edit {
  position:fixed;
  right:100px;
  bottom:80px;
}

#cancel-comment-edit {
  margin-left: 20px;
}

#update-submission.edits {
  display:block;
}

.no-comment {
  display:none;
}

.submission .body-container img, .submission .body-container a, .submission .body-container p {
  margin-bottom:20px;
}

.submission img {
  width:100%;
}

.submission a {
  display:block;
  width:100%;
}

.submission .return-link {
  margin-top:50px;
  display:block;
}

button.red {
  background-color: #FF3838;
  color:white;
}

.comment-body p span {
  font-family: 'Libre Baskerville', serif;
}
