.wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-bottom: 2rem;
  margin:0px auto;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.form p {
  text-align:center;
}

.input, .half-input {
  padding: 1rem 1rem;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 1.1em;
  outline: none;
}

.inputGroup {
  display: flex;
  flex-flow: column nowrap;
  padding: 10px 0;
}

.signup header.fixed, .login header.fixed {
  position:relative !important;
}

label input {
  width:100%;
}

.form {
  background-color: #F2F2F2;
  border-radius:5px;
}

.signup h2, .login h2 {
  text-align:center;
  margin:20px 0px;
}

.signup .green, .login .green {
  margin:0px auto;
  display:table;
}

.signup .bottom-links, .login .bottom-links {
  margin-top:40px;
  width:100%;
  float:left;
  text-align:center;
}

.signup .bottom-links a, .login .bottom-links a {
  margin-bottom:5px;
  display:block;
}

.signup .error, .login .error {
  text-transform:uppercase;
  text-align:center;
  color:red;
  margin-top: 20px;
  font-family:'Montserrat', sans-serif;
}

@media (min-width: 700px) {
  .form {
    width:400px;
    margin:0px auto;
    display:table;
  }
}
